@charset "utf-8";
/* Cascading Style Sheet Document */


main h2.brown {
    color: chocolate;
    background-color: antiquewhite;
    padding: 5px 0px 5px 10px;
}

main h2.blue {
    color: darkblue;
    background-color: paleturquoise;
    padding: 5px 0px 5px 10px;
}

main h2.pink {
    color: red;
    background-color: pink;
    padding: 5px 0px 5px 10px;
}

main h2.yellow {
    color: rgb(167, 21, 21);
    background-color: yellow;
    padding: 5px 0px 5px 10px;
}

main h2.khaki {
    color: brown;
    background-color: khaki;
    padding: 5px 0px 5px 10px;
}

main h2.navy {
    color: snow;
    background-color: navy;
    padding: 5px 0px 5px 10px;
}

main h2.orange {
    color: floralwhite;
    background-color: lightsalmon;
    padding: 5px 0px 5px 10px;
}

main h2.mono {
    color: snow;
    background-color: black;
    padding: 5px 0px 5px 10px;
}

main pre code {
    font-size: small;
    font-weight: lighter;
    font-family: Consolas, Menlo, -apple-system, BlinkMacSystemFont, monospace;
}

main ol li {
    line-height: 2.0em;
}

main .code_space {
    padding: 0 0em;
}



/* google code pretty customize style */
.prettyprint {
    padding: 1em 0;
}

.prettyprint li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
    list-style-position: outside;
    margin-left: 6px;
    padding-left: 6px;
  }

.prettyprint ol.linenums > li {
    line-height: 1.6em;
	list-style-type: decimal;
    border-left: 1px solid rgb(126, 126, 126);
    padding-left: 15px;
}