@charset "utf-8";
/* Cascading Style Sheet Document */

/* 
============================================================
    ■ Global style settings
============================================================
*/

html {
    min-height: inherit;
}

body {
    font: 14px/1.4 "Yu Gothic UI","Consolas",Arial,sans-serif;
    color: #211;
}

a {
    color: rgba(27, 149, 224, 1);
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

a:hover {
    text-decoration: underline;
}

ul {
    line-height: 2em;
}

.font_bold {
    font-weight: bold;
}

.font_larger {
    font-size: larger;
}

.font_large {
    font-size: large;
}

.font_big {
    font-size: x-large;
}

.red_text {
    color: red;
}

.blue_text {
    color: blue;
}

.left_float {
    float: left;
}

.right_float {
    float: right;
}

.clear_float {
    text-align: center;
    clear: both;
}

.centering {
    text-align: center;
    vertical-align: middle;
}

.left_alignment {
    text-align: left;
}

.right_alignment {
    text-align: right;
}

.underline {
    text-decoration: underline;
}

.width_50per {
    width: 50%;
}

.width_75per {
    width: 75%;
}