@charset "utf-8";
/* Cascading Style Sheet Document */

/* 
============================================================
    ■ Global style settings
============================================================
*/

html {
    min-height: inherit;
}

body {
    font: 14px/1.4 "Yu Gothic UI","Consolas",Arial,sans-serif;
    color: #211;
}

a {
    color: rgba(27, 149, 224, 1);
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    line-height: 2em;
}

.classic_font {
    font-family: monospace;
}

.font_bold {
    font-weight: bold;
}

.font_larger {
    font-size: larger;
}

.font_large {
    font-size: large;
}

.font_big {
    font-size: x-large;
}

.red_text {
    color: red;
}

.blue_text {
    color: blue;
}

.orange_text {
    color: coral;
}

.bg_aliceblue {
    background-color: aliceblue;
}

.bg_lightpink {
    background-color: lightpink;
}

.bg_lightblue {
    background-color: lightblue;
}

.left_float {
    float: left;
}

.right_float {
    float: right;
}

.clear_float {
    text-align: center;
    clear: both;
}

.centering {
    text-align: center;
    vertical-align: middle;
}

.left_alignment {
    text-align: left;
}

.right_alignment {
    text-align: right;
}

.strike {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.solid-border {
    border: black solid thin;
}

.double-border {
    border: black double 5px;
}

.red-border {
    border-color: red;
}

.blue-border {
    border-color: blue;
}

.width_25per {
    width: 25%;
}

.width_50per {
    width: 50%;
}

.width_75per {
    width: 75%;
}

.width_85per {
    width: 85%;
}

.width_autofit {
    width: 100%;
}

.width_autofit2 {
    width: auto;
}

.tab-space {
    padding-left: 2em;
}

.padding-side10px {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-10px {
    padding: 10px;
}

.margin-top-5em {
    margin-top: 5em;
}

.vertical_top {
    vertical-align: top;
}

.vertical_bottom {
    vertical-align: baseline;
}