@charset "utf-8";
/* Cascading Style Sheet Document */


body {
    text-align: center;
}

header {
    background-color: white;
    margin-top: -0.8em;
    padding: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
}

main {
    padding-top: 7em;
}

p {
}

p.content-desc {
    color: #1caa58;
}

div#content-table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 16em;
}

p.content-linkmenu {
    line-height: 2.0;
}

div.blank_space {
    margin-bottom: 3em;
}