@charset "utf-8";
/* Cascading Style Sheet Document */



main h2.title {
    color: black;
    background-color: rgb(224, 255, 255);
    padding: 5px 0px 5px 10px;
}



/* balloon text custom styles */
.balloon {
    position: relative;
    background-color: #429c3a;
    padding: 10px;
    color: rgb(255, 255, 255);
    margin: 15px;
}
    
.balloon::before {
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-right: 12px solid #429c3a;
    top: 20%;
    left: -24px;
}
    
.balloon p {
    margin: 0;
    padding: 0;
}





/* public classes style */
.e_book_thumnail {
    width: 140px;
    padding-right: 25px;
}

.amazon_link_banner {
    color:rgb(255, 255, 255);
    font: bold 1em "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    text-align: center;
    padding: 0.75em 1.5em;
    background-color: rgb(255, 166, 0);
    width: 10em;
}

.none_decr:hover {
    text-decoration: none;
}

.down-border {
    border-bottom: black solid thin;
}

.down-border h3 {
    margin-bottom: 0em;
}

.clear_top_margin {
    margin-top: 0;
}

.little_top_margin {
    margin-top: 2em;
}

.large_space_line {
    line-height: 3.5em;
}